@model StockManagementSystem.Models.Account.FirstTimeLoginViewModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "First Time Login";
}

<div class="login-box">
    <div class="login-logo">
        <img src="@Url.Content("~/images/MainMenu_Logo.png")" alt="Logo" />
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <h3 class="login-box-msg">First time login!</h3>
        <h5>Please change your password.</h5>

        <form asp-controller="Account" asp-action="FirstTimeLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <!--validation-->
            <div asp-validation-summary="ModelOnly" class="message-error" style="text-align: left"></div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                    </span>
                    <input asp-for="CurrentPassword" class="form-control" autocomplete="off" placeholder="Current Password" />
                </div>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                    </span>
                    <input asp-for="NewPassword" class="form-control" autocomplete="off" placeholder="New Password" />
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-6">
                    <a asp-action="Login" title="Back" class="btn btn-default btn-block btn-flat">
                        Back
                    </a>
                </div>
                <div class="col-xs-6">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">
                        Confirm Password
                    </button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
    <!-- /.login-box-body -->
</div>