@model ForgotPasswordConfirmViewModel
@{
    Layout = "_AccountLayout";

    ViewData["Title"] = "Forgot Password";
}

<style>
    .hide-border {
        border: none;
    }
</style>

<div class="login-box">
    <div class="login-logo">
        <img src="@Url.Content("~/images/MainMenu_Logo.png")" alt="Logo"/>
    </div>
    <div class="login-box-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result
            </div>
        }
        <h3 class="login-box-msg">Forgot Password</h3>
        @if (!Model.DisablePasswordChanging)
        {
        <form asp-route="ForgotPasswordConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-email="@Context.Request.Query["email"]" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                    </span>
                    <input asp-for="NewPassword" class="form-control" autocomplete="off" placeholder="New Password" />
                    <span class="input-group-addon hide-border">
                        <_required />
                    </span>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                    </span>
                    <input asp-for="ConfirmNewPassword" class="form-control" autocomplete="off" placeholder="Confirm New Password" />
                    <span class="input-group-addon hide-border">
                        <_required />
                    </span>
                </div>
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" name="set-password" class="btn btn-primary btn-block btn-flat">Change Password</button>
                </div>
            </div>
        </form>
        }
    </div>
</div>