@model StockManagementSystem.Models.Account.ForgotPasswordViewModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Forgot Password";
}

<div class="login-box">
    <div class="login-logo">
        <img src="~/images/MainMenu_Logo.png" alt="Logo">
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body text-center">
        <h3><i class="fa fa-lock fa-4x"></i></h3>
        <h3 class="login-box-msg">Forgot Password?</h3>
        <p>You can reset your password here.</p>

        <form asp-controller="Account" asp-action="ForgotPassword" id="forgetPasswordForm" method="post">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                    <input asp-for="Email" class="form-control" autocomplete="off" autofocus placeholder="Email" />
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-6">
                    <a asp-action="Login" title="Back" class="btn btn-default btn-block btn-flat">
                        Cancel
                    </a>
                </div>
                <div class="col-xs-6">
                    <button type="submit" id="resetPass" class="btn btn-primary btn-block btn-flat">
                        Reset Password
                    </button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
    <!-- /.login-box-body -->
</div>