@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model StockManagementSystem.ViewModels.Account.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Login";
}

<div class="col-sm-6 col-sm-offset-2">
    <form id="login-form" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
        <div align="center" style="height: 130px">
            <img src="~/images/MainMenu_Logo.png" alt="Logo">
        </div>
        <div class="panel panel-default" style="width: 510px;">
            <div class="panel-heading">Log into your Account</div>
            <div class="panel-body">
                <div class="form-group">
                    <label asp-for="UserName" class="col-sm-3 control-label"></label>
                    <div class="col-md-7">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input asp-for="UserName" class="form-control" autocomplete="off" autofocus />
                        </div>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-sm-3 control-label"></label>
                    <div class="col-md-7">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input asp-for="Password" class="form-control" autocomplete="off" />
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-2 btn-group">
                        <button id="loginClick" href="#" type="submit" class="btn btn-primary">
                            <span class="fa fa-sign-in"> Login</span>
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <a asp-controller="Account" asp-action="Register" title="Manage" id="Register" class="btn btn-primary">
                            <span class="fa fa-user-o"> Register</span>
                        </a>
                    </div>
                </div>
                @*<div class="form-group">
                    <div class=" col-sm-offset-3 col-sm-9">
                        <div class="col-sm-7">
                            <a href="#" id="fgtPass" data-toggle="modal" data-target="#myModal">Forgotten Your Password?</a>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </form>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" style="color:#000;" aria-label="Close"><span aria-hidden="true" style="color:#000">&times;</span></button>
                        <h4 class="modal-title" id="header" style="font-family:'Open Sans'; font-weight:500; color:#000">Please Enter Staff ID</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group-sm">
                            <form id="forgetPasswordForm" method="post">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Username <span class="fa fa-user-o" aria-hidden="true"></span></label>
                                    <div class="col-sm-6">
                                        <input type="text" id="staffId" required="required" class="form-control">
                                        <p id="sentemail" style="display:none; padding-top: 10px; padding-bottom: 10px; color:#000">Password will be sent to your email shortly.</p>
                                        <p id="invalidstaffid" style="display:none; padding-top: 10px; color:red; padding-bottom: 10px;">Invalid Staff Id.</p>
                                    </div>
                                </div>
                                <div class="modal-footer btn-group" style="border:none;">
                                    <button type="button" class="btn btn-pinterest" data-dismiss="modal" id="cancelBtn">Cancel</button>
                                    <button type="submit" class="btn btn-default" id="submitBtn">Continue</button>
                                    <button type="button" class="btn btn-success" data-dismiss="modal" onClick="refreshPage()" id="okBtn">Ok</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
    <!-- btnLogin Modal -->
    <div id="btnLoginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">First time login</h4>
                </div>
                <div class="modal-body">
                    <p>Confirm your password!</p>
                    <input type="password" required="required" class="form-control" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">

    $("#fgtPass").on('click',
        function() {
            $("#fgtPass").hide();
            $("#okBtn").hide();
            $("#cont").show();
        });

    $("#logClick").on('click',
        function() {
            $("#firstTimeLogin").show();
            $("#").show();
        });

    @*document.getElementById('forgetPasswordForm').onsubmit = function(e) {
        forgotPassword();
        e.preventDefault();
    }

    function forgotPassword() {

        var username = $('#staffId').val();
        $("#staffId").hide();

        //$("#title").hide();
        //$("#submitBtn").hide();
        // $("#cancelBtn").hide();
        // $("#header").hide();
        // $("#invalidstaffid").hide();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("ForgotPassword", "Account")',
            data: {
                username
            },
            dataType: 'json',
            success: function (response) {
                if (response != null && response.success) {
                    $("#sentemail").show();
                    $("#okBtn").show();
                    $("#staffId").hide();
                    $("#submitBtn").hide();
                    $("#cancelBtn").hide();
                    $("#header").hide();
                    $("#invalidstaffid").hide();
                    // location.reload(true);
                } else {
                    // DoSomethingElse()
                    $("#staffId").show();
                    $("#submitBtn").show();
                    $("#cancelBtn").show();
                    $("#header").show();
                    $("#invalidstaffid").show();
                }
            },
            error: function (response) {
                alert("error!");
            }
        })};*@

    function refreshPage() {
        window.location.reload();
    }
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
