@model StockManagementSystem.Models.Account.RegisterViewModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Register";
}

<div class="login-box">
    <div class="login-logo">
        <img src="~/images/MainMenu_Logo.png" alt="Logo">
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <h3 class="login-box-msg">Create a new account</h3>

        <form asp-controller="Account" asp-action="Register" method="post" role="form">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user fa" aria-hidden="true"></i>
                    </span>
                    <input asp-for="UserName" class="form-control" autocomplete="off" autofocus placeholder="Username"/>
                </div>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                    </span>
                    <input asp-for="Email" class="form-control" autocomplete="off" placeholder="Email"/>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                    </span>
                    <input asp-for="Password" class="form-control" autocomplete="off" placeholder="Password"/>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                    </span>
                    <input asp-for="ConfirmPassword" class="form-control" autocomplete="off" placeholder="ConfirmPassword"/>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-6">
                    <a asp-action="Login" title="Back" class="btn btn-default btn-block btn-flat">
                        Back
                    </a>
                </div>
                <div class="col-xs-6">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">
                        Register
                    </button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
    <!-- /.login-box-body -->
</div>