@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Reset Password Confirmation";
}

<div class="login-box">
    <div class="login-logo">
        <img src="~/images/MainMenu_Logo.png" alt="Logo">
    </div>
    <!-- /.login-logo -->
    <p>
        Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
    </p>
</div>