@model StockManagementSystem.Models.Account.ResetPasswordViewModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Reset Password";
}

<div class="login-box">
    <div class="login-logo">
        <img src="@Url.Content("~/images/MainMenu_Logo.png")" alt="Logo">
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <h3 class="login-box-msg">Reset your password.</h3>
        <hr />

        <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal" role="form">
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                    <input asp-for="Email" class="form-control" autocomplete="off" autofocus placeholder="Email" />
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input asp-for="Password" class="form-control" autocomplete="off" placeholder="Password" />
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input asp-for="ConfirmPassword" class="form-control" autocomplete="off" placeholder="ConfirmPassword" />
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Reset</button>
                </div>
            </div>
        </form>
    </div>
    <!-- /.login-box-body -->
</div>