@{
    ViewBag.Title = "Dashboard";
}

<section class="content-header clearfix">
    <h1 class="fa fa-dashboard">&nbsp;Dashboard</h1>
    <ol class="breadcrumb">
        <li class="#">
            <a href="@Url.Action("Index", "Home")">
                <i class="glyphicon glyphicon-home"></i>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a href="@Url.Action("Dashboard", "Home")">Dashboard</a>
        </li>
    </ol>
</section>

<section class="content">

    <!-- Panels -->
    <div class="box box-default box">
        <div class="box-header with-border">
            <h3 class="box-title">Informations</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class=" box-body">
            <div class="dashboard-panel-container">
                <div id="server" class="dashboard-panel col-sm-8 col-md-5">
                    @await Component.InvokeAsync("PanelServerComponent")
                </div>
            </div>
        </div>
    </div>
    <div class="box box-danger box">
        <div class="box-header with-border">
            <h3 class="box-title">Actions</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class=" box-body">
            <div class="dashboard-panel-container">
                <div id="master" class="dashboard-panel col-sm-8 col-md-5">
                    @await Component.InvokeAsync("PanelMasterComponent")
                </div>
            </div>

            @*Phase 2 Development*@
            @*<div id="approval">
                    @await Component.InvokeAsync("PanelTxnApprovalComponent")
                </div>*@
        </div>
    </div>


    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrators"))
    {
        @await Component.InvokeAsync("TransActivityPanel")
    }
</section>
<_alert asp-alert-id="loadTAPieRptAlert" asp-alert-message="Failed to load (pie chart) transaction activity report." />
<_alert asp-alert-id="loadTABarRptAlert" asp-alert-message="Failed to load (bar chart) transaction activity report." />

@section scripts{
    <script type="text/javascript">
        $('.dashboard-panel-container').sortable({ tolerance: 'pointer' });
        $(".dashboard-panel-container").disableSelection();

        $(document).on('click', '#btn-refresh-server', function(e) {
            $('#server').load('@Url.Action("PanelServerComponent", "Home")');
        });

        $(document).on('click', '#btn-refresh-approval', function (e) {
            $('#approval').load('@Url.Action("PanelTxnApprovalComponent", "Home")');
        });
    </script>
}