<?xml version="1.0" encoding="utf-8"?>
<siteMap>
    <siteMapNode SystemName="Home" resource="Home" controller="Home" action="Index">
        <siteMapNode SystemName="Dashboard" resource="Dashboard" controller="Home" action="Index" IconClass="fa fa-dashboard" />
        <siteMapNode SystemName="User Management" resource="User Management" PermissionNames="ManageUsers,ManageRoles,ManagePermission" IconClass="fa fa-user">
            <siteMapNode SystemName="user" resource="User" PermissionNames="ManageUsers" controller="User" action="Index" IconClass="glyphicon glyphicon-user" />
            <siteMapNode SystemName="role" resource="Role" PermissionNames="ManageRoles" controller="Role" action="Index" IconClass="glyphicon glyphicon-eye-open" />
            <siteMapNode SystemName="permission" resource="Permission" PermissionNames="ManagePermission" controller="Security" action="Permissions" IconClass="fa fa-key" />
        </siteMapNode>
        <siteMapNode SystemName="Device Management" resource="Device Management" IconClass="glyphicon glyphicon-phone">
            <siteMapNode SystemName="device" resource="Device Modules" IconClass="fa fa-mobile-phone">
                <siteMapNode SystemName="device.manage" resource="Manage Device" PermissionNames="ManageDevices" controller="Device" action="Index" IconClass="fa fa-dot-circle-o" />
                <siteMapNode SystemName="device.tracking" resource="Device Tracking" controller="Device" action="DeviceTracking" IconClass="fa fa-dot-circle-o" />
                <siteMapNode SystemName="device.remote" resource="Remote Device" controller="Device" action="Index" IconClass="fa fa-dot-circle-o" />
            </siteMapNode>
            <siteMapNode SystemName="report" resource="Report Modules" PermissionNames="ManageActivityLog,ManageUsers" IconClass="fa fa-bar-chart">
                <siteMapNode SystemName="activity.report" resource="Device Activity Report" PermissionNames="ManageActivityLog,ManageUsers" controller="Report" action="Index" IconClass="fa fa-random" />
            </siteMapNode>
        </siteMapNode>
        <siteMapNode SystemName="Push Notification" resource="Push Notification" controller="PushNotification" action="Index" IconClass="fa fa-exclamation-triangle" />
        <siteMapNode SystemName="Setting Configuration" resource="Setting Configuration" IconClass="fa fa-wrench">
            <siteMapNode SystemName="setting.order" resource="Stock Order Setting" controller="Setting" action="Order" IconClass="fa fa-list" />
            <!--<siteMapNode SystemName="setting.approval" resource="Approval Setting" controller="Setting" action="Approval" IconClass="fa fa-check" />-->
            <siteMapNode SystemName="setting.location" resource="Location Setting" controller="Setting" action="Location" IconClass="fa fa-location-arrow" />
        </siteMapNode>
    </siteMapNode>
</siteMap>