<?xml version="1.0" encoding="utf-8"?>

<siteMap>
    <siteMapNode SystemName="Home" resource="Home" controller="Home" action="Overview">
        <siteMapNode SystemName="Dashboard" resource="Dashboard" controller="Home" action="Index"
                     IconClass="fa-desktop" />
        <siteMapNode SystemName="Device Management" resource="Device Management" IconClass="fa-mobile">
            <siteMapNode SystemName="Device Modules" resource="Device Modules" IconClass="fa-dot-circle-o">
                <siteMapNode SystemName="Manage Device" resource="Manage Device" controller="Home" action="Dashboard"
                             IconClass="fa-mobile-phone" />
                <siteMapNode SystemName="Device Tracking" resource="Device Tracking" controller="Home"
                             action="Dashboard" IconClass="fa-search-plus" />
                <siteMapNode SystemName="Remote Device" resource="Remote Device" controller="Home" action="Dashboard"
                             IconClass="fa-volume-control-phone" />
            </siteMapNode>
            <siteMapNode SystemName="Report Modules" resource="Report Modules" IconClass="fa-dot-circle-o">
                <siteMapNode SystemName="Device Activity Report" resource="Device Activity Report" controller="Home" action="Dashboard"
                             IconClass="fa-paper-plane" />
            </siteMapNode>
        </siteMapNode>
        <siteMapNode SystemName="Settings" resource="Settings" IconClass="fa-cogs">
            <siteMapNode SystemName="User" resource="User" controller="User" action="Index" IconClass="fa-dot-circle-o" />
            <siteMapNode SystemName="Role" resource="Role" controller="Role" action="Index" IconClass="fa-dot-circle-o" />
        </siteMapNode>
    </siteMapNode>
</siteMap>