@model PushNotificationModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="form-group">
                <div class="col-xs-3">
                    <label asp-for="Title" class="control-label pull-right"></label>
                </div>
                <div class="col-xs-9">
                    <input asp-for="Title" class="form-control" placeholder="Enter title of the notification" />
                    <span asp-validation-for="Title"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label asp-for="Description" class="control-label pull-right"></label>
                </div>
                <div class="col-xs-9">
                    <input asp-for="Description" class="form-control" placeholder="Enter content of the notification" />
                    <span asp-validation-for="Description"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label asp-for="SelectedNotificationCategoryIds" class="control-label pull-right"></label>
                </div>
                <div class="col-xs-9">
                    <div class="input-group input-group-required">
                        <select asp-for="SelectedNotificationCategoryIds" asp-items="Model.AvailableNotificationCategories" asp-multiple="true"></select>
                        <div class="input-group-btn">
                            <required />
                        </div>
                    </div>
                    <script>
                        $(document).ready(function () {
                            var notificationCategoryIdsInput = $('#@Html.IdFor(model => model.SelectedNotificationCategoryIds)')
                                .kendoDropDownList({
                                    autoClose: false,
                                    filter: "contains",
                                    optionLabel: " ",
                                    change: function () {
                                        onChange();
                                    },
                                    dataBound: onChange()
                                }).data("kendoMultiSelect");

                            @if (Model.AvailableNotificationCategories.Count == 0) {
                                <text>
                                    notificationCategoryIdsInput.placeholder = "No notification category available";
                                    notificationCategoryIdsInput.enable = false;
                                                    </text>
                            }
                        });

                        function onChange(e) {
                            var selected = $('#@Html.IdFor(model => model.SelectedNotificationCategoryIds)').val();
                            $("#stocktake-outlet").attr("style", "display: none;");

                            if (selected == null || selected == "")
                            {
                                $("#stocktake-display").attr("style", "display: none;");
                                $("#others-outlet").attr("style", "display: none;");
                            }
                            else if (selected == "1") //Stock Take
                            {
                                $("#stocktake-display").show();
                                $("#others-outlet").attr("style", "display: none;");
                            }
                            else {
                                $("#stocktake-display").attr("style", "display: none;");
                                $("#others-outlet").show();
                            }
                        }
                    </script>
                </div>
            </div>

            <div class="form-group" id="stocktake-display">
                <div class="col-xs-3">
                    <label asp-for="SelectedStockTake" class="control-label pull-right"></label>
                </div>
                <div class="col-xs-9">
                    <div class="input-group input-group-required">
                        <select asp-for="SelectedStockTake" asp-items="Model.AvailableStockTakeList" asp-multiple="true"></select>
                        <div class="input-group-btn">
                            <required />
                        </div>
                    </div>
                    <script>
                        $(document).ready(function () {
                            var StockTakesInput = $('#@Html.IdFor(model => model.SelectedStockTake)')
                                .kendoDropDownList({
                                    autoClose: false,
                                    filter: "contains",
                                    change: function () {
                                        onChangeStock();
                                    },
                                    optionLabel: " ",
                                    dataBound: onChangeStock
                                }).data("kendoMultiSelect");

                            @if (Model.AvailableStockTakeList.Count == 0) {
                                <text>
                                    StockTakesInput.placeholder = "No stock take is available";
                                    StockTakesInput.enable = false;
                                </text>
                            }
                        });

                        function onChangeStock(e) {
                            var pushNoti = {};
                            pushNoti.STNo = $('#@Html.IdFor(model => model.SelectedStockTake)').val();
                            stNo = $('#@Html.IdFor(model => model.SelectedStockTake)').val();
                            var catId = $('#@Html.IdFor(model => model.SelectedNotificationCategoryIds)').val();

                            if (stNo == "") {
                                $("#StoreName").val("");
                            }

                            if (stNo != "" && catId == 1) {
                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("GetStockTakeStores", "PushNotification")',// the method we are calling
                                    contentType: "application/json; charset=utf-8",
                                    data: "stockTakeNo=" + pushNoti.STNo,
                                    dataType: "text",
                                    success: function (result) {
                                        if (result != null) {
                                            result = result.slice(1, -1);
                                            $("#StoreName").val(result);
                                            $("#stocktake-outlet").show();
                                        }
                                    },
                                    error: function (xhr, status, error) {
                                        //Ajax request failed.
                                        var errorMessage = xhr.status + ': ' + xhr.statusText
                                        //alert('Error - ' + errorMessage)

                                    }

                                });
                            }
                            else {
                                $("#StoreName").val("");
                            }
                        }
                    </script>
                </div>
            </div>

            <div class="form-group" id="others-outlet">
                <div class="col-xs-3">
                    <label asp-for="SelectedStoreIds" class="control-label pull-right"></label>
                </div>
                <div class="col-xs-9">
                    <div class="input-group input-group-required">
                        <select asp-for="SelectedStoreIds" asp-items="Model.AvailableStores" asp-multiple="true"></select>
                        <div class="input-group-btn">
                            <required />
                        </div>
                    </div>
                    <script>
                        $(document).ready(function () {
                            var storesIdsInput = $('#@Html.IdFor(model => model.SelectedStoreIds)')
                                .kendoMultiSelect({
                                    autoClose: false,
                                    filter: "contains"
                                }).data("kendoMultiSelect");

                            @if (Model.AvailableStores.Count == 0) {
                                <text>
                                    storesIdsInput.placeholder = "No stores available";
                                    storesIdsInput.enable = false;
                                                    </text>
                            }
                        });
                    </script>
                </div>
            </div>

            <div class="form-group" id="stocktake-outlet">
                <div class="col-xs-3">
                    <label asp-for="SelectedStoreIds" class="control-label pull-right"></label>
                </div>
                <div class="col-xs-9">
                    <input type="text" id="StoreName" disabled="disabled" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label asp-for="RemindMe" class="control-label pull-right"></label>
                </div>
                <div class="col-xs-9">
                    <input asp-for="RemindMe" class="checkbox" id="remindMeCheckBox" type="checkbox" onclick="remindMe()" />
                </div>
                <script>
                    function remindMe() {
                        var checkBox = document.getElementById("remindMeCheckBox");
                        if (checkBox.checked == true) {
                            $("#repeat-display").show();
                            $("#startDateTimeSelection").show();
                            $("#endDateTimeSelection").show();
                        } else {
                            $("#repeat-display").attr("style", "display: none;");
                            $("#startDateTimeSelection").attr("style", "display: none;");
                            $("#endDateTimeSelection").attr("style", "display: none;");
                        }
                    }

                    $(document).ready(function () {
                        var checkBox = document.getElementById("remindMeCheckBox");
                        if (checkBox.checked == true) {
                            $("#repeat-display").show();
                            $("#startDateTimeSelection").show();
                            $("#endDateTimeSelection").show();
                        } else {
                            $("#repeat-display").attr("style", "display: none;");
                            $("#startDateTimeSelection").attr("style", "display: none;");
                            $("#endDateTimeSelection").attr("style", "display: none;");
                        }
                    });
                </script>
            </div>

            <div class="form-group" id="repeat-display" style="display: none;">
                <div class="col-xs-3">
                    <label asp-for="SelectedRepeat" class="control-label pull-right"></label>
                </div>
                <div class="col-xs-9">
                    <div class="input-group input-group-required">
                        <select asp-for="SelectedRepeat" asp-items="Model.AvailableRepeatList" asp-multiple="true"></select>
                        <div class="input-group-btn">
                            <required />
                        </div>
                    </div>
                </div>
                <script>
                        $(document).ready(function () {
                            var SelectedRepeatInput = $('#@Html.IdFor(model => model.SelectedRepeat)')
                                .kendoDropDownList({
                                    autoClose: false,
                                    filter: "contains",
                                    optionLabel: " "
                                }).data("kendoMultiSelect");
                        });
                </script>
            </div>

            <div class="form-group" id="startDateTimeSelection" style="display: none;">
                <div class="col-xs-3">
                    <label asp-for="StartTime" class="control-label pull-right"></label>
                </div>
                <div class="col-xs-9">
                    <input id="start" asp-for="StartTime" title="timepicker" style="width: 100%;" />
                </div>
            </div>

            <div class="form-group" id="endDateTimeSelection" style="display: none;">
                <div class="col-xs-3">
                    <label asp-for="EndTime" class="control-label pull-right"></label>
                </div>
                <div class="col-xs-9">
                    <input id="end" asp-for="EndTime" title="timepicker" style="width: 100%;" />
                </div>
            </div>

            <script type="text/javascript">

                function validateQty(event) {
                    var key = window.event ? event.keyCode : event.which;
                    if (event.keyCode == 8 || event.keyCode == 116
                        || event.keyCode == 37 || event.keyCode == 39) {
                        return true;
                    }
                    else if (key < 48 || key > 57) {
                        return false;
                    }
                    else return true;
                };

                $(document).ready(function () {
                    function startChange() {
                        var startDate = start.value(),
                            endDate = end.value();

                        if (startDate) {
                            startDate = new Date(startDate);
                            startDate.setDate(startDate.getDate());
                            end.min(startDate);
                            end.value(startDate);
                        } else if (endDate) {
                            start.max(new Date(endDate));
                        } else {
                            endDate = new Date();
                            start.max(endDate);
                            end.min(endDate);
                        }
                    }

                    var today = kendo.date.today();

                    var start = $("#start").kendoDateTimePicker({
                        value: today,
                        min: today,
                        interval: 1,
                        change: startChange,
                        parseFormats: ["yyyy-MM-ddThh:mm:ssZ"],
                        format: "dd MMMM yyyy hh:mm tt", //format is used to format the value of the widget and to parse the input.
                    }).data("kendoDateTimePicker");

                    var end = $("#end").kendoDatePicker({
                        value: today,
                        min: today,
                        parseFormats: ["yyyy-MM-dd"],
                        format: "dd MMMM yyyy", //format is used to format the value of the widget and to parse the input.
                    }).data("kendoDatePicker");

                    $("#start").on("keydown", function (e) {
                        e.preventDefault();
                    });

                    $("#end").on("keydown", function (e) {
                        e.preventDefault();
                    });
                });
            </script>

            @if (Model.Id > 0)
            {
                <div class="form-group">
                    <div class="col-xs-3">
                        <label asp-for="CreatedOn" class="control-label pull-right"></label>
                    </div>
                    <div class="col-xs-9">
                        <div class="form-text-row">@Model.CreatedOn</div>
                    </div>
                </div>
            }
            @if (Model.Id > 0)
            {
                <div class="form-group">
                    <div class="col-xs-3">
                        <label asp-for="LastActivityDate" class="control-label pull-right"></label>
                    </div>
                    <div class="col-xs-9">
                        <div class="form-text-row">@Model.LastActivityDate</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>