@model TenantScopeConfigurationModel

@inject IWebHelper webHelper

@{
    var returnUrl = webHelper.GetRawUrl(Context.Request);
    var tenants = Model.Tenants.Select(tenant => new SelectListItem
    {
        Text = tenant.Name,
        Value = Url.Action("ChangeTenantScopeConfiguration", "Setting", new { tenantId = tenant.Id, returnUrl}, webHelper.CurrentRequestProtocol),
        Selected = tenant.Id.Equals(Model.TenantId)
    }).ToList();

    tenants.Insert(0, new SelectListItem
    {
        Text = "All tenants",
        Value = Url.Action("ChangeTenantScopeConfiguration", "Setting", new { tenantId = 0, returnUrl }, webHelper.CurrentRequestProtocol),
        Selected = 0.Equals(Model.TenantId)
    });
}

<div class="form-group">
    <div class="col-md-12 tenant-scope-configuration">
        <div class="label-wrapper">
            <label class="control-label"> Multi-tenant configuration for </label>
        </div>
        <_select asp-for-name="tenant-scope-configuration" asp-items="@tenants" onchange="setLocation(this.value);" style="width: auto;min-width: 300px;" />
        @if (Model.TenantId > 0)
        {
            <div class="checkbox">
                <label>
                    <input type="checkbox" style="margin-top: 3px;" onclick="checkAllOverriddenTenantValue(this)">
                    <b>Check/uncheck all</b> <small>(check boxes if you want to set a custom value for this tenant).</small>
                </label>
            </div>
        }
    </div>
</div>