@model ClientSearchModel
@using StockManagementSystem.Api.Models.ApiSettings.Clients

<section class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>
                        <em>Native clients configuration</em>
                    </p>
                    <div id="apiclients-grid"></div>
                    <style>
                        .custom-button {
                            color: #444444;
                            padding-right: 10px;
                            font-size: 1.5em;
                        }
                    </style>
                    <script>
                        $(document).ready(function() {
                            $("#apiclients-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "ApiClients"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        },
                                        destroy: {
                                            url: "@Html.Raw(Url.Action("Delete", "ApiClients"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize)
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                toolbar: [
                                    {
                                        template: "<a class='k-button k-button-icontext k-grid-add' href='../ApiClients/Create'><span class='glyphicon btn-glyphicon glyphicon-plus img-circle text-danger k-add'></span>Add</a>"
                                    }
                                ],
                                scrollable: false,
                                columns: [
                                    {
                                        field: "ClientName",
                                        title: "Client name",
                                        width: 150
                                    },
                                    {
                                        field: "ClientId",
                                        title: "Client id",
                                        width: 200
                                    },
                                    {
                                        field: "ClientSecret",
                                        title: "Client secret",
                                        width: 200
                                    },
                                    {
                                        field: "RedirectUrl",
                                        title: "Callback url",
                                        width: 250
                                    },
                                    {
                                        field: "Enabled",
                                        title: "Active",
                                        width: 100,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '# if(Enabled) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                    },
                                    {
                                        template: "<a href='\\#' title='Edit' class='custom-button edit-button'><i class='glyphicon glyphicon-pencil'></i></a>" +
                                                  "<a href='\\#' title='Delete' class='custom-button destroy-button'><i class='glyphicon glyphicon-trash'></i></a>",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        width: 100
                                    }
                                ]
                            });
                        });
                    </script>
                    <script>
                        $(document).ready(function () {
                            var grid = $("#apiclients-grid").data("kendoGrid");

                            $("#apiclients-grid").on("click", ".custom-button", function (e) {
                                var btn = $(this);
                                var dataItem = grid.dataItem($(e.currentTarget).closest("tr"));
                                e.preventDefault();
                                if (btn.hasClass("edit-button")) {
                                    redirectToAction('Edit', dataItem.Id);
                                }
                                else if (btn.hasClass("destroy-button")) {
                                    if (confirm('Are you sure you want to delete this item?')) {
                                        grid.dataSource.remove(dataItem);
                                        grid.dataSource.sync();
                                        grid.refresh();
                                        redirectToAction('Delete', dataItem.Id);
                                    }
                                }
                            });
                        });

                        function redirectToAction(action, id) {
                            if (action == 'Edit') {
                                var url = '@Url.Action("Edit", "ApiClients", new { id = "__id__" })';
                                window.location.href = url.replace('__id__', id);
                            }
                            if (action == 'Delete') {
                                var postData = { id: id };
                                addAntiForgeryToken(postData);
                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: '../ApiClients/Delete/id',
                                    data: postData,
                                    success: function (data) {
                                        return false;
                                    },
                                    error: function(xhr, ajaxOptions, thrownError) {
                                        $("#apiClientDelete").click();
                                    }
                                });
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>