@model UserNavigationModel

<div class="block block-account-navigation">
    <div class="title">
        <strong>My account</strong>
    </div>
    <div class="listbox">
        <ul class="list">
            @foreach (var item in Model.UserNavigationItem)
            {
                <li class="@item.ItemClass">
                    <a href="@Url.RouteUrl(item.RouteName)" class="@(Model.SelectedTab == item.Tab ? "active" : "inactive")">@(item.Title)</a>
                </li>
            }
        </ul>
    </div>
</div>