@inject IWorkContext workContext
@inject IPermissionService permissionService
@inject IUserService userService
@using StockManagementSystem.Core.Domain.Users
@using StockManagementSystem.Services.Security
@using StockManagementSystem.Services.Users

@{
    var returnUrl = ViewData["returnUrl"];

    var canManageMaintenance = await permissionService.AuthorizeAsync(StandardPermissionProvider.ManageMaintenance);

    var currentUser = workContext.CurrentUser;
    var userName = await userService.GetUserFullNameAsync(currentUser);
}

<!-- Navbar Right Menu -->
<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="~/images/user2-160x160.jpg" class="user-image" alt="User Image">
                <span class="hidden-xs">@userName</span>
            </a>
            <ul class="dropdown-menu">
                @if (currentUser.IsRegistered())
                {
                    <!-- User image -->
                    <li class="user-header">
                        <div>
                            <a href="@Url.Action("Info", "Account")">
                                <img src="~/images/user2-160x160.jpg" class="img-circle" alt="User Image"/>
                                <p style="padding-top: 10px; color: white">
                                    @userName<br />
                                    <small><i class="fa fa-circle text-success"></i> Online</small>
                                </p>
                            </a>
                        </div>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-right">
                            <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                                <button type="submit" class="btn btn-default btn-flat">Log out</button>
                            </form>
                        </div>
                        @if (canManageMaintenance)
                        {
                            <div class="pull-right">
                                <form asp-controller="Common" asp-action="ClearCache">
                                    <input name="returnurl" type="hidden" value="@returnUrl">
                                    <button type="submit" class="btn btn-default btn-flat">Clear cache</button>
                                </form>
                            </div>
                        }
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>
