@using StockManagementSystem.Core.Domain.Identity
@inject SignInManager<User> SignInManager
@{
    var rawUrl = ViewData["rawUrl"];
}

@if (SignInManager.IsSignedIn(User))
{
    <!-- AdminLTE layout-->
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="~/images/user2-160x160.jpg" class="user-image" alt="User Image">
                    <span class="hidden-xs">@User.Identity.Name</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <img src="~/images/user2-160x160.jpg" class="img-circle" alt="User Image">

                        <p>
                            @User.Identity.Name
                            <small><i class="fa fa-circle text-success"></i> Online</small>

                        </p>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-right">
                            <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                                <button type="submit" class="btn btn-default btn-flat">Log out</button>
                            </form>
                        </div>
                        @*<div class="pull-right">
                            <form asp-controller="Preferences" asp-action="ClearCache">
                                <input name="returnurl" type="hidden" value="@rawUrl">
                                <button type="submit" class="btn btn-default btn-flat">Clear cache</button>
                            </form>
                        </div>*@
                    </li>
                </ul>
            </li>
        </ul>
    </div>
}
