@inject IWorkContext WorkContext
@inject IGenericAttributeService GenericAttributeService
@using StockManagementSystem.Api.Models.ApiSettings.Clients
@using StockManagementSystem.Core
@using StockManagementSystem.Services.Common

@model ClientModel

@{
    const string hideInfoBlockAttributeName = "ApiSettingsPage.HideInfoBlock";
    var hideInfoBlock = await GenericAttributeService.GetAttributeAsync<bool>(WorkContext.CurrentUser, hideInfoBlockAttributeName);
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="form-horizontal">
        <my-panels id="client-panels">
            <my-panel asp-name="client-info" asp-icon="fa fa-user-circle" asp-title="Client info" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock">@await Html.PartialAsync(ViewNames.ApiClientsCreateOrUpdateInfo, Model)</my-panel>
        </my-panels>
    </div>
</section>