@model OrderLimitModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="form-horizontal">
        <tabs id="orderLimit-edit">
            <tab asp-name="tab-info" asp-title="Stock Order Limit info" asp-default="true">@await Html.PartialAsync("_CreateOrUpdateOrderLimit.Info", Model)</tab>
        </tabs>
    </div>
</section>