@model OrderLimitModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">

            @*Remove Percentage criteria; Not required - 05032019*@
            @*<div class="form-group">
            <div class="col-xs-3">
                <label asp-for="Percentage" class="control-label pull-right"></label>
            </div>
            <div class="col-xs-9">
                <input asp-for="Percentage" type="text" class="form-control" min="0" max="100" onkeypress='return validateQty(event);' />
                <span asp-validation-for="Percentage"></span>
            </div>
        </div>*@

            @*Remove criteria; Not required - 19042019*@
            @*<div class="form-group">
            <div class="col-xs-3">
                <label asp-for="DaysofStock" class="control-label pull-right"></label>
            </div>
            <div class="col-xs-9">
                <input asp-for="DaysofStock" type="text" class="form-control" min="0" onkeypress='return validateQty(event);' />
                <span asp-validation-for="DaysofStock"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-3">
                <label asp-for="DaysofSales" class="control-label pull-right"></label>
            </div>
            <div class="col-xs-9">
                <input asp-for="DaysofSales" type="text" class="form-control" min="14" onkeypress='return validateQty(event);' />
                <span asp-validation-for="DaysofSales"></span>
            </div>
        </div>*@

            <div class="form-group">
                <div class="col-xs-3">
                    <label asp-for="DeliveryPerWeek" class="control-label pull-right"></label>
                </div>
                <div class="col-xs-9">
                    <input asp-for="DeliveryPerWeek" type="text" class="form-control" min="1" onkeypress='return validateQty(event);' />
                    <span asp-validation-for="DeliveryPerWeek"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label asp-for="InventoryCycle" class="control-label pull-right"></label>
                </div>
                <div class="col-xs-9">
                    <input asp-for="InventoryCycle" type="text" class="form-control" min="1" onkeypress='return validateQty(event);' />
                    <span asp-validation-for="InventoryCycle"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label asp-for="Safety" class="control-label pull-right"></label>
                </div>
                <div class="col-xs-9">
                    <input asp-for="Safety" type="text" class="form-control" min="1" onkeypress='return validateQty(event);' />
                    <span asp-validation-for="Safety"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label asp-for="MinDays" class="control-label pull-right"></label>
                </div>
                <div class="col-xs-9">
                    <input asp-for="MinDays" type="text" class="form-control" min="1" onkeypress='return validateQty(event);' />
                    <span asp-validation-for="MinDays"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label asp-for="MaxDays" class="control-label pull-right"></label>
                </div>
                <div class="col-xs-9">
                    <input asp-for="MaxDays" type="text" class="form-control" min="1" onkeypress='return validateQty(event);' />
                    <span asp-validation-for="MaxDays"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label asp-for="OrderRatio" class="control-label pull-right"></label>
                </div>
                <div class="col-xs-9">
                    <input asp-for="OrderRatio" type="number" id="order" min="0.01" />
                    <span asp-validation-for="OrderRatio"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label asp-for="FaceQty" class="control-label pull-right"></label>
                </div>
                <div class="col-xs-9">
                    <input asp-for="FaceQty" type="text" class="form-control" min="1" onkeypress='return validateQty(event);' />
                    <span asp-validation-for="FaceQty"></span>
                </div>
            </div>

            @*Remove store criteria; Not required - 20062019*@
            @*<div class="form-group">
            <div class="col-xs-3">
                <label asp-for="SelectedStoreIds" class="control-label pull-right"></label>
            </div>
            <div class="col-xs-9">
                <div class="input-group input-group-required">
                    <select asp-for="SelectedStoreIds" asp-items="Model.AvailableStores" asp-multiple="true"></select>
                    <div class="input-group-btn">
                        <required />
                    </div>
                </div>
                <script>
                    $(document).ready(function() {
                        var storesIdsInput = $('#@Html.IdFor(model => model.SelectedStoreIds)')
                          .kendoDropDownList({
                            autoBind: false,
                            filter: "contains",
                        }).data("kendoDropDownList");

                        @if (Model.AvailableStores.Count == 0)
                        {
                            <text>
                                storesIdsInput.placeholder = "No stores available";
                                storesIdsInput.enable = false;
                            </text>
                        }
                    });
                </script>
            </div>
        </div>*@

            @if (Model.Id > 0)
            {
                <div class="form-group">
                    <div class="col-xs-3">
                        <label asp-for="CreatedOn" class="control-label pull-right"></label>
                    </div>
                    <div class="col-xs-9">
                        <div class="form-text-row">@Model.CreatedOn</div>
                    </div>
                </div>
            }
            @if (Model.Id > 0)
            {
                <div class="form-group">
                    <div class="col-xs-3">
                        <label asp-for="LastActivityDate" class="control-label pull-right"></label>
                    </div>
                    <div class="col-xs-9">
                        <div class="form-text-row">@Model.LastActivityDate</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#order").kendoNumericTextBox({
            format: "n2",
            min: 0.01,
            decimals: 2,
            step: 0.01,
            restrictDecimals: false,
            spin: function (e) {
                var inputElement = this.element;
                addTrailingZeros(inputElement, this);
            }
        }).on("focus", function (e) {
            var inputElement = $(this);
            addTrailingZeros(inputElement, numeric)
            }).data("kendoNumericTextBox");

        function addTrailingZeros(input, numeric) {
            // floats
            if (input.val().split(".").length > 1
                && input.val().split(".")[1].length < numeric.options.decimals) {
                var inputValue = input.val() + "0";
                input.val(inputValue);
            }
            // integers
            if (input.val() && input.val().split(".").length === 1) {
                var inputValue = input.val() + "." + Array(numeric.options.decimals + 1).join("0");
                input.val(inputValue);
            }
        }
    });

    function validateQty(event) {
        var key = window.event ? event.keyCode : event.which;
        if (event.keyCode == 8 || event.keyCode == 116
            || event.keyCode == 37 || event.keyCode == 39) {
            return true;
        }
        else if (key < 48 || key > 57) {
            return false;
        }
        else return true;
    };
</script>