@model OrderLimitModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">

            @*Remove Percentage criteria; Not required - 05032019*@
            @*<div class="form-group">
                    <div class="col-xs-3">
                        <label asp-for="Percentage" class="control-label pull-right"></label>
                    </div>
                    <div class="col-xs-9">
                        <input asp-for="Percentage" type="text" class="form-control" min="0" max="100" onkeypress='return validateQty(event);' />
                        <span asp-validation-for="Percentage"></span>
                    </div>
                </div>*@

            @*Remove criteria; Not required - 19042019*@
            @*<div class="form-group">
                    <div class="col-xs-3">
                        <label asp-for="DaysofStock" class="control-label pull-right"></label>
                    </div>
                    <div class="col-xs-9">
                        <input asp-for="DaysofStock" type="text" class="form-control" min="0" onkeypress='return validateQty(event);' />
                        <span asp-validation-for="DaysofStock"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-3">
                        <label asp-for="DaysofSales" class="control-label pull-right"></label>
                    </div>
                    <div class="col-xs-9">
                        <input asp-for="DaysofSales" type="text" class="form-control" min="14" onkeypress='return validateQty(event);' />
                        <span asp-validation-for="DaysofSales"></span>
                    </div>
                </div>*@

            <div class="form-group">
                <div class="col-xs-3">
                    <label asp-for="DeliveryPerWeek" class="control-label pull-right"></label>
                </div>
                <div class="col-xs-9">
                    <input id="delivery" asp-for="DeliveryPerWeek" class="form-control" value="" type="text" min="1" onkeypress='return validateQty(event);' />
                    <span asp-validation-for="DeliveryPerWeek"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label asp-for="Safety" class="control-label pull-right"></label>
                </div>
                <div class="col-xs-9">
                    <input id="safety" asp-for="Safety" class="form-control" value="" type="text" min="1" onkeypress='return validateQty(event);' />
                    <span asp-validation-for="Safety"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label asp-for="InventoryCycle" class="control-label pull-right"></label>
                </div>
                <div class="col-xs-9">
                    <input id="inventory" asp-for="InventoryCycle" class="form-control" value="" type="text" min="1" onkeypress='return validateQty(event);' />
                    <span asp-validation-for="InventoryCycle"></span>
                </div>
            </div>  

            <div class="form-group">
                <div class="col-xs-3">
                    <label asp-for="OrderRatio" class="control-label pull-right"></label>
                </div>
                <div class="col-xs-9">
                    <input id="order" asp-for="OrderRatio" class="form-control" value="" type="text" min="1" onkeypress='return validateQty(event);' />
                    <span asp-validation-for="OrderRatio"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <label asp-for="SelectedStoreIds" class="control-label pull-right"></label>
                </div>
                <div class="col-xs-9">
                    <div class="input-group input-group-required">
                        <select asp-for="SelectedStoreIds" asp-items="Model.AvailableStores" asp-multiple="true"></select>
                        <div class="input-group-btn">
                            <required />
                        </div>
                    </div>
                    <script>
                        $(document).ready(function() {
                            var storesIdsInput = $('#@Html.IdFor(model => model.SelectedStoreIds)')
                                .kendoMultiSelect({
                                    autoClose: false,
                                    filter: "contains"
                                }).data("kendoMultiSelect");

                            @if (Model.AvailableStores.Count == 0)
                            {
                                <text>
                                    storesIdsInput.placeholder = "No stores available";
                                    storesIdsInput.enable = false;
                                </text>
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //// create NumericTextBox from input HTML element
        //$("#delivery").kendoNumericTextBox({
        //    format: "#",
        //    decimals: 0,
        //    restrictDecimals: true
        //});
        //$("#safety").kendoNumericTextBox({
        //    format: "#",
        //    decimals: 0,
        //    restrictDecimals: true
        //});
        //$("#inventory").kendoNumericTextBox({
        //    format: "#",
        //    decimals: 0,
        //    restrictDecimals: true
        //});
        //$("#order").kendoNumericTextBox({
        //    format: "#",
        //    decimals: 0,
        //    restrictDecimals: true
        //});

        $("#delivery").focus(function () {
            var input = $(this);
            setTimeout(function () {
                input.select();
            });
        });

        $("#safety").focus(function () {
            var input = $(this);
            setTimeout(function () {
                input.select();
            });
        });

        $("#inventory").focus(function () {
            var input = $(this);
            setTimeout(function () {
                input.select();
            });
        });

        $("#order").focus(function () {
            var input = $(this);
            setTimeout(function () {
                input.select();
            });
        });
    });

    function validateQty(event) {
        var key = window.event ? event.keyCode : event.which;
        if (event.keyCode == 8 || event.keyCode == 116
            || event.keyCode == 37 || event.keyCode == 39) {
            return true;
        }
        else if (key < 48 || key > 57) {
            return false;
        }
        else return true;
    };
</script>