@model OrderLimitModel

@{
    //page title
    ViewBag.Title = "Add new order limit";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("setting.order");
}

<form asp-controller="Setting" asp-action="AddOrderLimit" method="post">
    <section class="content-header clearfix">
        <h1 class="pull-left">
            <a asp-action="Order"><i class="fa fa-arrow-circle-left"></i></a>
            @ViewBag.Title
        </h1>
        <div class="pull-right">
            <div class="ui-group-buttons">
                <button type="submit" name="save" class="btn bg-blue-gradient">
                    <i class="glyphicon glyphicon-save"></i> Save
                </button>
            </div>
        </div>
    </section>
    @await Html.PartialAsync("_CreateOrderLimit", Model)
</form>