@model GeneralCommonSettingsModel

@{
    ViewBag.Title = "General settings";
    Html.SetActiveMenuItemSystemName("settings.general");
}

<form asp-controller="Setting" asp-action="GeneralCommon" method="post">

    <section class="content-header clearfix">
        <h1 class="pull-left">@ViewBag.Title</h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn icon-btn bg-blue-gradient">
                <span class="glyphicon btn-glyphicon glyphicon-floppy-save img-circle text-primary"></span>&nbsp;Save
            </button>
        </div>
    </section>

    <section class="content">
        <div class="form-horizontal">
            @await Component.InvokeAsync("TenantScopeConfiguration")
            @await Component.InvokeAsync("SettingMode")

            <div asp-validation-summary="All"></div>

            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">Common</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <_override-checkbox asp-for="CommonSettings.LogoPictureId_OverrideForTenant" asp-parent-container="logo-block" asp-store-scope="@Model.ActiveTenantScopeConfiguration" />
                                <_label asp-for="CommonSettings.LogoPictureId" />
                            </div>
                            <div class="col-md-9" id="logo-block">
                                <_editor asp-for="CommonSettings.LogoPictureId" />
                                <span asp-validation-for="CommonSettings.LogoPictureId"></span>
                            </div>
                        </div>
                        <div class="form-group advanced-setting">
                            <div class="col-md-3">
                                <_override-checkbox asp-for="CommonSettings.UseResponseCompression_OverrideForTenant" asp-input="CommonSettings.UseResponseCompression" asp-store-scope="@Model.ActiveTenantScopeConfiguration" />
                                <_label asp-for="CommonSettings.UseResponseCompression" />
                            </div>
                            <div class="col-md-9">
                                <_editor asp-for="CommonSettings.UseResponseCompression" />
                                <span asp-validation-for="CommonSettings.UseResponseCompression"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Security</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <_label asp-for="SecuritySettings.AllowedIpAddresses"/>
                            </div>
                            <div class="col-md-9">
                                <_editor asp-for="SecuritySettings.AllowedIpAddresses"/>
                                <span asp-validation-for="SecuritySettings.AllowedIpAddresses"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <_label asp-for="SecuritySettings.ForceSslForAllPages"/>
                            </div>
                            <div class="col-md-9">
                                <_editor asp-for="SecuritySettings.ForceSslForAllPages"/>
                                <span asp-validation-for="SecuritySettings.ForceSslForAllPages"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <_label asp-for="SecuritySettings.EnableXsrfProtection"/>
                            </div>
                            <div class="col-md-9">
                                <_editor asp-for="SecuritySettings.EnableXsrfProtection"/>
                                <span asp-validation-for="SecuritySettings.EnableXsrfProtection"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <_label asp-for="SecuritySettings.EncryptionKey"/>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group input-group-short">
                                    <_editor asp-for="SecuritySettings.EncryptionKey"/>
                                    <span class="input-group-btn">
                                        <button type="submit" name="changeencryptionkey" id="changeencryptionkey" class="btn btn-info">Change</button>
                                        <_action-confirmation asp-button-id="changeencryptionkey"/>
                                    </span>
                                </div>
                                <span asp-validation-for="SecuritySettings.EncryptionKey"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</form>