@model UserModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="form-group">
                <div class="col-xs-3">
                    <_label asp-for="Email"/>
                </div>
                <div class="col-xs-9">
                    <_editor asp-for="Email" asp-disabled="true" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <_label asp-for="Password"/>
                </div>
                <div class="col-xs-9">
                    <div class="input-group">
                        <_editor asp-for="Password"/>
                        <div class="input-group-btn">
                            @if (Model.Id > 0)
                            {
                                <button type="submit" name="changepassword" class="btn bg-red-active">
                                    Change password
                                </button>
                            }
                        </div>
                    </div>
                    <span asp-validation-for="Password"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <_label asp-for="Name"/>
                </div>
                <div class="col-xs-9">
                    <_editor asp-for="Name" asp-disabled="true"/>
                    <span asp-validation-for="Name"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <_label asp-for="SelectedRoleIds"/>
                </div>
                <div class="col-xs-9">
                    <div class="input-group input-group-required">
                        <_select asp-for="SelectedRoleIds"  asp-items="Model.AvailableRoles" asp-multiple="true"/>
                        <div class="input-group-btn">
                            <_required/>
                        </div>
                    </div>
                    <script>
                        $(document).ready(function() {
                            var userRolesIdsInput = $('#@Html.IdFor(model => model.SelectedRoleIds)').data("kendoMultiSelect");
                            userRolesIdsInput.setOptions({
                                userRolesIdsInput: false,
                                filter: "contains"
                            });

                            @if (Model.AvailableRoles.Count == 0)
                            {
                                <text>
                                    userRolesIdsInput.setOptions({
                                        enable: false,
                                        placeholder: "No roles available"
                                    });
                                    userRolesIdsInput._placeholder();
                                    userRolesIdsInput._enable();
                                </text>
                            }
                        });
                    </script>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-3">
                    <_label asp-for="AdminComment"/>
                </div>
                <div class="col-xs-9">
                    <_textarea asp-for="AdminComment"/>
                    <span asp-validation-for="AdminComment"></span>
                </div>
            </div>

            @*@if (Model.Id > 0)
            {
                <div class="form-group">
                    <div class="col-xs-3">
                        <_label asp-for="LastIpAddress"/>
                    </div>
                    <div class="col-xs-9">
                        <div class="form-text-row">@Model.LastIpAddress</div>
                    </div>
                </div>
            }*@
            @if (Model.Id > 0)
            {
                <div class="form-group">
                    <div class="col-xs-3">
                        <_label asp-for="CreatedOn"/>
                    </div>
                    <div class="col-xs-9">
                        <div class="form-text-row">@Model.CreatedOn</div>
                    </div>
                </div>
            }
            @if (Model.Id > 0)
            {
                <div class="form-group">
                    <div class="col-xs-3">
                        <_label asp-for="LastActivityDate"/>
                    </div>
                    <div class="col-xs-9">
                        <div class="form-text-row">@Model.LastActivityDate</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>