@model OutletManagementContainerModel

@{
    ViewBag.Title = "Outlet Management";
    Html.SetActiveMenuItemSystemName("Outlet Management");
}

<section class="content-header clearfix">
    <h1 class="pull-left">@ViewBag.Title</h1>
    <ol class="breadcrumb pull-right">
        <li class="#">
            <a href="@Url.Action("Index", "Home")">
                <i class="glyphicon glyphicon-home"></i>
            </a>
        </li>
        <li class="#">
            <a href="#">
                <i class="fa fa-cogs"></i>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a asp-action="Index">@ViewBag.Title</a>
        </li>
    </ol>
</section>

<section class="content">
    <div class="form-horizontal">
        <_tabs id="outlets-management-tabs">
            <_tab asp-name="assignUserTab" asp-title="Assign User" asp-default="true">@await Html.PartialAsync("_List.AssignUser", Model.AssignUserList)</_tab>
            <_tab asp-name="groupOutletTab" asp-title="Group Outlet" >@await Html.PartialAsync("_List.GroupOutlet", Model.GroupOutletList)</_tab>
        </_tabs>
    </div>
</section>