@model ReportContainerModel

@{
    ViewBag.Title = "Device activity reports";
    Html.SetActiveMenuItemSystemName("device.report");
}

<section class="content-header clearfix">
    <h1 class="pull-left">@ViewBag.Title</h1>
    <ol class="breadcrumb pull-right">
        <li class="#">
            <a href="@Url.Action("Index", "Home")">
                <i class="glyphicon glyphicon-home"></i>
            </a>
        </li>
        <li class="#">
            <a href="#">
                <i class="fa fa-bar-chart"></i>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a asp-action="Index">@ViewBag.Title</a>
        </li>
    </ol>
</section>

<section class="content">
    <div class="form-horizontal">
        <_tabs id="device-activity-report-tabs">
            <_tab asp-name="signedin-activity" asp-title="Signed-in activity" asp-default="true">@await Html.PartialAsync("_List.SignedIn", Model.ListSignedIn)</_tab>
            <_tab asp-name="trnx-activity" asp-title="Transaction activity">@await Html.PartialAsync("_List.TransActivity", Model.ListTransActivity)</_tab>
        </_tabs>
    </div>
</section>