@{
    var prefix = ViewData["prefix"];
    var hidePanelAttributeName = ViewData["hidePanelAttributeName"];
}

<div id="@(prefix)-box">
    <div class="chart">
        <canvas id="@(prefix)-chart" height="350"></canvas>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#@(prefix)-box').on('click', 'button[data-widget="collapse"]',
            function() {
                var collapsed = !$('#@(prefix)-box').hasClass('collapsed-box');
                saveUserPreferences('@(Url.Action("SavePreference", "Preferences"))', '@hidePanelAttributeName', collapsed);
            });

        $('#@(prefix)-box').on('click', 'button#refresh-btn',
            function() {
                loadDataset();
            });

        var config = {
            type: 'pie',
            data: {
                datasets: [
                    {
                        data: [],
                        label: [],
                        backgroundColor: []
                    }
                ],
                labels: []
            },
            options: {
                responsive: true,
                legend: {
                    position: 'bottom'
                },
                animation: {
                    animateRotate: true
                }
            }
        };

        function loadDataset() {
            var labels = [];
            var datas = [];
            var colors = [];

            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetTransActivityPieData", "Report")',
                data: {},
                success: function(data) {
                    for (var i = 0; i < data.length; i++) {
                        labels.push(data[i].entity);
                        datas.push(data[i].value);
                        colors.push(random_rgba());
                    }

                    if (!window.myDoughnut) {
                        config.data.labels = labels;
                        config.data.datasets[0].data = datas;
                        config.data.datasets[0].backgroundColor = colors;
                        window.myDoughnut = new Chart(document.getElementById("@prefix-chart").getContext("2d"), config);
                    } else {
                        window.myDoughnut.config.data.labels = labels;
                        window.myDoughnut.config.data.datasets[0].data = datas;
                        window.myDoughnut.config.data.datasets[0].backgroundColor = colors;
                        window.myDoughnut.update();
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    $("#loadTAPieRptAlert").click();
                }
            });
        }

        window.onload = function () { loadDataset(); };
    });
</script>