<form id="small-search-box-form">
    <input type="text" class="search-box-text" id="small-searchterms" autocomplete="off" name="q" placeholder="Search anything" aria-label="Search" />
    <input type="submit" class="button-1 search-box-button" value="Search" />
</form>