@model DeviceTrackingContainerModel

@{
    ViewBag.Title = "Device Tracking";
    Html.SetActiveMenuItemSystemName("device.tracking");
}


<section class="content-header clearfix">
    <h1 class="pull-left">@ViewBag.Title</h1>
    <ol class="breadcrumb pull-right">
        <li class="#">
            <a href="@Url.Action("Index", "Home")">
                <i class="glyphicon glyphicon-home"></i>
            </a>
        </li>
        <li class="#">
            <a href="#">
                <i class="glyphicon glyphicon-phone"></i>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a href="@Url.Action("DeviceTracking", "Device")">@ViewBag.Title</a>
        </li>
    </ol>
</section>

<section class="content">
    <div class="form-horizontal">
        <_tabs id="device-tracking-tabs">
            <_tab asp-name="map-format" asp-title="Map" asp-default="true">@await Html.PartialAsync("_List.Map", Model.DeviceMap)</_tab>
            <_tab asp-name="list-format" asp-title="Map List">@await Html.PartialAsync("_List.List", Model.DeviceListing)</_tab>
        </_tabs>
    </div>
</section>