@model ActivityLogContainerModel

@{
    ViewBag.Title = "Activity log";
    Html.SetActiveMenuItemSystemName("activity.log");
}

<_antiforgery-token/>
<form asp-controller="ActivityLog" asp-action="ListTypes" method="post">
<section class="content-header clearfix">
    <h1 class="pull-left">@ViewBag.Title</h1>
    <ol class="breadcrumb pull-right">
        <li class="#">
            <a href="@Url.Action("Index", "Home")">
                <i class="glyphicon glyphicon-home"></i>
            </a>
        </li>
        <li class="#">
            <a href="#">
                <i class="fa fa-user"></i>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a asp-action="Index">@ViewBag.Title</a>
        </li>
    </ol>
</section>

<section class="content">
    <div class="form-horizontal">
        <_tabs id="activity-log-tabs">
            <_tab asp-name="activity-log-logs" asp-title="Activity log" asp-default="true">@await Html.PartialAsync("_List.Logs", Model.ListLogs)</_tab>
            <_tab asp-name="activity-log-types" asp-title="Activity types">@await Html.PartialAsync("_List.LogTypes", Model.ListTypes)</_tab>
        </_tabs>
    </div>
</section>
</form>