@{
    //page title
    ViewBag.Title = "Access Denied";
}

<div class="alert alert-warning alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <strong>Warning!</strong> You do not have permission to perform the selected operation.
</div>
<div class="content-header">
    Access denied.
</div>