@model ApiModel

@{
    Layout = ViewNames.Layout;

    ViewBag.Title = "Api Settings";
    Html.SetActiveMenuItemSystemName("api.settings");
}

<form asp-controller="ApiSettings" asp-action="Index" method="post">
    <_antiforgery-token/>

    <section class="content-header clearfix">
        <h1 class="pull-left">@ViewBag.Title</h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn icon-btn bg-blue-gradient">
                <span class="glyphicon btn-glyphicon glyphicon-floppy-save img-circle text-primary"></span>&nbsp;Save
            </button>
        </div>
    </section>
    <div asp-validation-summary="All"></div>

    <section class="content">
        <div class="form-horizontal">
            @await Component.InvokeAsync("StoreScopeConfiguration")
            @await Component.InvokeAsync("SettingMode")

            <_tabs id="apisettings">
                <_tab asp-name="tab-generalsettings" asp-default="true" asp-title="General settings">@await Html.PartialAsync(ViewNames.ApiConfiguration, Model.ApiConfiguration)</_tab>
                <_tab asp-name="tab-clientsettings" asp-title="Client settings">@await Html.PartialAsync(ViewNames.ApiClients, Model.ClientSearchModel)</_tab>
            </_tabs>
        </div>
    </section>
</form>